/* for login  */
.loginbtn {
  width: 100px;
  height: 80px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgrey;
}

/* Full-width input fields  */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

/* Set a style for all buttons */
button {
  background-color: #04aa6d;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
}
button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  text-align: center;
}
/* Extra styles for the submit button */
.submitbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #04aa6d;
  text-align: center;
}

.container {
  background-color: white ;
  padding: 25px;
  border-radius: 5px;
  width: 500px;
  height: 300px;
  margin-left: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-width: 2px;
  border-radius: 2px;
  border-color: black;
  border-style: solid;
  
}

span.psw {
  float: right;
}
span.mem {
  float: left;
}
h1{
  font-family: cursive;
  text-align: center;

}

/* log in end  */
